@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #181824;
    font-family: "Jost", sans-serif;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 0.8rem 1rem;

}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

h1, p {
    color: rgb(201, 201, 201);
}

a {
    text-decoration: none;
    color: rgb(159, 159, 159);
}

a + a {
    margin-left: 0.3rem;
}

a:hover {
    color: rgb(0, 110, 255);
}



.search__form{
    background-color: #24273D;
    padding: 0.5rem;
}

.search__todo {
    width: 100%;
    padding: 0.6rem 1rem;
    border: none;
    background-color: #24273D;
    /* background: url(./images/search\(1\).svg) no-repeat;
    background-position: right center;
    background-size: 25px; */
}

.todo_section > container {
    background-color: #24273D;
}

.description {
    display: none;
    padding: 0.4rem 0.2rem;
}

.todo {
    border-bottom: 1px solid gray;
}

.todo, .footer {
    background-color: #24273D;
    padding: 1rem;

}

.todo__title, .todo__title__item {
    display: flex;
    align-items: center;
}

.todo__title__item  {
    gap: 10px;
}

.todo__title {
    justify-content: space-between;
}

ion-icon {
    color: gray;
    font-size: 2rem;
}

#task__form {
    display: none;
}


.footer {
    display: flex;
    justify-content: space-between;
}
