
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #181824;
    font-family: "Jost", sans-serif;

}

.container {
    max-width: 600px;
    margin: auto;
    padding: 0.8rem 1rem;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem;
}

h1, p {
    color: rgb(201, 201, 201);
}

a {
    text-decoration: none;
    color: rgb(159, 159, 159);
}

a:hover {
    color: rgb(0, 110, 255);
}

.search__form{
    background-color: #24273D;
    padding: 0.5rem;
}

.search__todo {
    width: 100%;
    padding: 0.6rem 1rem;
    border: none;
    background-color: #24273D;
}

.todo_section > container {
    background-color: #24273D;
    border-radius: 4rem;
}

.description {
    display: none;
    padding: 0.4rem 0.2rem;
}

.todo {
    border-bottom: 1px solid gray;
}

.todo, 
.footer,
.mobile__filter__todo {
    background-color: #24273D;
    padding: 1rem;

}

.todo__title, .todo__title__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo__title__item  {
    gap: 10px;
}

.todo__title,
.filter__todo,
.footer{
    justify-content: space-between;
}

ion-icon {
    color: gray;
    font-size: 2rem;
}

#task__form {
    background-color: hsl(0, 3%, 87%, 0.2);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: white;
    display: none;
}

.active {
    display: block;
}

#task__form .container {
    background-color: #212439;
    padding: 3.5rem;
    position: relative;
    top: 20%;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
}

.create_btn {
    padding: 0.5rem 1rem;
    text-align: right;
}

label {
    margin-bottom: 0.4rem;
}

label, input, textarea {
    display: block;
}

input, textarea {
    background-color: rgb(198, 196, 196);
}

#task__form
input,
textarea {
    width: 100%;
    margin-bottom: 1rem;
    border: none;
}

#task__form input {
    padding: 0.4rem;
}

img {
    background-color: white;
    padding: 0.5rem 0.4rem;
    border-radius: 50%;
    cursor: pointer;
    border: 4px solid gray;
}

.filter__todo > div,
.clear__completed,
.mobile__filter__todo{
    color: rgb(159, 159, 159);
}


.filter__todo > div:hover,
.clear__completed:hover {
    color: blue;
}

.filter__todo,
.footer {
    display: flex;
}

.mobile__filter__todo {
    justify-content: center;
    margin-top: 1rem;
    display: none;
}

.active__todo {
    margin: 0 1rem;
}

@media  (max-width: 500px) {
    .filter__todo {
        display: none;
    }

    .mobile__filter__todo {
        display: flex;
    }
}
